.header{
  text-align: center;
  font-family: "family corbel", sans-serif;
}
div.container0 {
  position: relative;
  color: white;
  width: 25.5vw;
  height: 80vh;
  border: 0.8vh solid white;
  grid-column:  2/ 3;
  grid-row: 2 / 2;
  border-radius: 2vw;
}
.container1 {
  position: relative;
  color: white;
  width: 25.5vw;
  height: 80vh;
  border: 0.8vh solid white;
  grid-column:  3/ 4;
  grid-row: 3 / 2;
  border-radius: 2vw;
}
.container2 {
  position: relative;
  color: white;
  width: 25.5vw;
  height: 80vh;
  border: 0.8vh solid white;
  grid-column:  4/ 5;
  grid-row: 2 /3;
  border-radius: 2vw;
}
.container3 {
  position: relative;
  color: white;
  width: 25.5vw;
  height: 80vh;
  border: 0.8vh solid white;
  grid-column:  2/ 3;
  grid-row: 3 / 4;
  border-radius: 2vw;
}
.container4 {
  position: relative;
  color: white;
  width: 25.5vw;
  height: 80vh;
  border: 0.8vh solid white;
  grid-column:  3/4;
  grid-row: 3 / 4;
  border-radius: 2vw;
}
.pt1{
  margin-left: auto;
  margin-right: auto;
  height : 29vh;
  width :24.8vw;
  filter:blur(1px);
}
.part1{
  position: absolute;
  top: 11vh;
  font-size: 3vh;
  text-align:center;
}
div.word{
  color: black;
  font-size: 2.5vh;
  font-family: "family corbel", sans-serif;
}
.wrap {
  display: grid;
  grid-template-columns:  auto auto auto;
  grid-row-gap: 5vh;
  grid-column-gap: 3vw;
  padding: 1vh;
}

.wrap > div {
  background-color: #ffffff;
  text-align: left;
  padding: 2vh 0;
  font-size: 3vh;
}
.wrap > div:hover{
  background-color: #fae6ff;
}


