
.content{
  padding: 45vh 10vw;
}

.Programme{
  text-align: center;
  padding-right: 1px;
  font-family: 'Corbel', sans-serif;
  font-weight: lighter;
  font-size: 2vw;
}
.Programme h2{
  text-align: center;
  font-family: 'Corbel', sans-serif;
  font-weight: bold;
  font-size: 3vw;
  color: #A04000;
}

.downloadbtn{
  margin-bottom: 1px;
  margin-right: 2px;
  float: right;
  border-radius: 5px;
  border: 3px solid #A52A2A;
  background-color: white;
  color: black;
  padding: 7px 20px;
  width: 160px;
  height: 40px;
  font-weight: bold;
  font-size: 17px;
  color:#000000;
  text-decoration: none;
}
.downloadbtn:hover{
  background-color:#A52A2A;
  color: black;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: purple;
  font-family: "family corbel", sans-serif;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 3px 3px 6px black;
}
#myBtn:hover {
    background-color:  #08948F;
  -webkit-transition: background-color 0.5s ease-in-out;
 -moz-transition: background-color 0.5s ease-in-out;
 -ms-transition: background-color 0.5s ease-in-out;
 -o-transition: background-color 0.5s ease-in-out;
 transition: background-color 0.5s ease-in-out;
}
