
.content{
  padding: 45vh 10vw;
}

.Programme{
  text-align: center;
  padding-right: 1px;
  font-family: 'Corbel', sans-serif;
  font-weight: lighter;
  font-size: 2vw;
}
.Programme h2{
  text-align: center;
  font-family: 'Corbel', sans-serif;
  font-weight: bold;
  font-size: 3vw;
  color: #A04000;
}

.downloadbtn{
  margin-bottom: 1px;
  margin-right: 2px;
  float: right;
  border-radius: 5px;
  border: 3px solid #A52A2A;
  background-color: white;
  color: black;
  padding: 7px 20px;
  width: 160px;
  height: 40px;
  font-weight: bold;
  font-size: 17px;
  color:#000000;
  text-decoration: none;
}
.downloadbtn:hover{
  background-color:#A52A2A;
  color: black;
}
