table{
  border-collapse: collapse;
  border: 2vh solid black;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  font-style: normal;
  font-family: 'Corbel', sans-serif;
  size: 10vh;
}
h2 {
  text-align: center;
  font-style: normal;
  font-family: 'Corbel', sans-serif;
  size: 10px;
}
th{
  font-style: normal;
  font-family: 'Corbel', sans-serif;
  font-weight: 500;
  margin-bottom: 200%;
  border: 2vh solid black;
  text-align: left;
}
td {
  font-style: normal;
  font-family: 'Corbel', sans-serif;
  font-weight: 500;
  margin-bottom: 200%;
  border: 2vh solid black;
  text-align: center;
}
table {
  table-layout: fixed;
  width: 50%;
}
table {
  table-layout: fixed;
  width: 50%;
}
div {
  font-style: normal;
  font-family: 'Corbel', sans-serif;
  font-weight: 500;
  text-align: center;
  margin: 35px;
}
.footer{
  width: 100vw;
  height: 40vh;
  background-position: center;
  background-size: cover;
  background-image: url(Images/footer.jpg);
  background-repeat: no-repeat;
}
.footer-column {
  float: left;
  width: 33%;
  padding: 1vw;
}
.footer-row:after {
  content: "";
  display: table;
  clear: both;
}
.organisedby p{
  align: left;
  font-size: 3vh;
}
#iiumlogo{
  float: left;
  height: 12vh;
  width: 7vw;
  font-size: 3vh;
}
.footer p{
  text-align: left;
  color: white;
  font-size: 3vh;
}
