table{
  border-collapse: collapse;
  border: 2vh solid black;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  font-style: normal;
  font-family: 'Corbel', sans-serif;
  size: 10vh;
}
h2 {
  text-align: center;
  font-style: normal;
  font-family: 'Corbel', sans-serif;
  size: 10px;
}
th{
  font-style: normal;
  font-family: 'Corbel', sans-serif;
  font-weight: 500;
  margin-bottom: 200%;
  border: 2vh solid black;
  text-align: left;
}
td {
  font-style: normal;
  font-family: 'Corbel', sans-serif;
  font-weight: 500;
  margin-bottom: 200%;
  border: 2vh solid black;
  text-align: center;
}
table {
  table-layout: fixed;
  width: 50%;
}
table {
  table-layout: fixed;
  width: 50%;
}
div {
  font-style: normal;
  font-family: 'Corbel', sans-serif;
  font-weight: 500;
  text-align: center;
  margin: 35px;
}
