* {
  box-sizing: border-box;
  font-family: 'Corbel', sans-serif;
}
body{
  background-image: url(Images/background.jpeg);
  background-position: center center;
  background-repeat: repeat;
  min-height: initial;
    font-style: normal;
    font-weight: 300;
    margin: auto;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
header {
    height: 360px;
    z-index: 10;
    width: 100%
}
.header-banner {
    background-color: #333;
    background-image: url(Images/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
}
header h1 {
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    color: #F1F8E0;
    padding: 0 1rem;
    margin-top: 0;
}
header p{
  text-align: center;
  font-family: 'Corbel', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #F1F8E0;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.search-box {
  width: 18vw;
  height: 6vh;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 3vh;
  background-color: white;
  padding: 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
nav {
    width: 100%;
    height: 60px;
    background: #292f36;
    postion: fixed;
    z-index: 10;
}
nav div {
    color: white;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
}
.visible-title {
    visibility: visible;
}
nav ul {
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
}
nav ul li {
    display: inline-block;
    line-height: 60px;
    margin-left: 10px;
    font-weight: 400;
}
nav ul li a {
    text-decoration: none;
    color: #a9abae;
}
a:hover{
  font-weight: bold;
}
a.active{
  background-color: #cccccc;
  font-weight: bold;
  color: black;
  height: 5px;
  border-radius: 9px;
  padding: 5px 5px;
}
.registerbtn{
  background-color: #ace600;
  color: black;
  border-radius: 8px;
  font-weight: bold;
  padding: 5px 5px;
}
.registerbtn:hover{
  background-color: #66ff66;
  color: black;
  font-weight: bolder;
}

/* .about{
  padding-left: 50px;
  font-family: 'Corbel', sans-serif;
  font-weight: 400;
  font-size: 2vw;
  width: 70%;
  float: left;
}
.about h2{
  font-family: 'Corbel', sans-serif;
  font-weight: bold;
  font-size: 3vw;
  color: #A04000;
} */
.fotorama{
  width: 50%;
  float: left;
  padding-left: 20%;
  padding-top: 10%;
}
.event{
  width: 50%;
  float: left;
}
.container {
   width: 90%;
   margin: auto;
}
.mobile-wrapper {
   background: #fff;
   width: 380px;
   min-height: 100%;
   margin: auto;
   padding: 30px 0 20px;
   border-radius: 10px;
   box-shadow: 0px 10px 30px -10px #000;
   overflow: hidden;
}
.event-1 {
   background: linear-gradient(to left, #400080, rgba(0, 96, 128, 1)), #400080;
   color: #FFF;
   padding: 15px 30px;
   position: relative;
   box-shadow: 0px 0px 40px -9px #485fed;
   margin-bottom: 10px;
 }
.event-2 {
   background: linear-gradient(to left, #008040, rgba(0, 128, 128, .75)), #008040;
   color: #FFF;
   padding: 15px 30px;
   position: relative;
   box-shadow: 0px 0px 40px -9px #485fed;
   margin-bottom: 10px;

}
.event-3 {
    background: linear-gradient(to left, #800060, rgba(128, 0, 32, .75)), #800060;
    color: #FFF;
    padding: 15px 30px;
    position: relative;
    box-shadow: 0px 0px 40px -9px #485fed;
    margin-bottom: 10px;
}
.event-4 {
     background: linear-gradient(to left, #802000, rgba(128, 96, 0, .8)), #802000;
     color: #FFF;
     padding: 15px 30px;
     position: relative;
     box-shadow: 0px 0px 40px -9px #485fed;
     margin-bottom: 10px;
}
.event-5 {
      background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
      color: #FFF;
      padding: 15px 30px;
      position: relative;
      box-shadow: 0px 0px 40px -9px #485fed;
      margin-bottom: 10px;
}
.event-date {
         font-size: 20px;
         margin: 7px 0 0 0;
         letter-spacing: 1px;
         font-weight: 600;
         text-shadow: 0px 0px 5px  rgba(#000, 0.15);
}
#countdown{
  float: right;
  padding-right: 90px;
}
#countdown h4{
  float: left;
  padding: 5px 10px;
  font-size: 30px;
  margin: 10px;
  text-align: center;
}
#date, #hour, #min, #sec{
  background: linear-gradient(135deg, #085078, #85D8CE);
  color: white;
  font-weight: 700;
  font-family: 'Alatsi', sans-serif;
  text-align: center;
  font-size: 70px;
  border-radius: 7px;
  float: left;
  padding: 5px 10px;
  border-style: double;
  height: 100px;
  margin: 5px;
}
.footer-banner {
    background-color: #333;
    background-image: url(Images/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
    margin-top: 70px;
}
#iiumlogo{
  width: 150px;
  height: 150px;
  float: left;
}
.organisedby{
  width: 65%;
  float:left;
  padding-left: 40%;
  font-size: 25px;
  color: white;
  font-weight: 500;
}
.address{
  width: 35%;
  float: left;
  font-size: 25px;
  color: white;
  font-weight: 500;
}
