* {
  box-sizing: border-box;
  font-family: 'Corbel', sans-serif;
}
Body{
    background-image: url(Images/background.jpeg);
    margin: 8vh 8vw;;
    font-style: normal;
    font-weight: 300;
    background-position: center center;
    background-repeat: repeat;
    margin: auto;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.top-header{
  position: fixed;
}
.top-banner{
    width: 100vw;
    height: 270px;
    background-position: center;
    background-size: cover;
    background-image: url(Images/header.jpg);
    background-repeat: no-repeat;
}
.top-banner h1{
  text-align: center;
  font-family: 'Corbel', sans-serif;
  font-weight: bold;
  font-size: 4vw;
  color: #F1F8E0;
  margin-bottom: 15px;
}
.top-banner p{
  text-align: center;
  font-family: 'Corbel', sans-serif;
  font-weight: bold;
  font-size: 2vw;
  color: #F1F8E0;
  margin-bottom: 15px;
}
.search-box {
  width: 18vw;
  height: 6vh;
  float: left;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 3vh;
  background-color: white;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.registerbtn{
  margin-top: 1px;
  margin-right: 2px;
  float: right;
  border-radius: 5px;
  border: 3px solid #E9ED75;
  background-color: white;
  color: black;
  padding: 7px 20px;
  width: 145px;
  height: 40px;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
}
.registerbtn:hover{
  background-color:#E9ED75;
  color: black;
}
.nav-bar{
    width: 100vw;
    background-color: #424242;
}
.nav-bar ul{
  margin: 0;
  padding: 0;

  display: flex;
}
#navbtn{
  display: none;
}
.nav-bar li{
    list-style-type: none;
    margin: 2vh 1vw;
    font-weight: bold;
    font-size: 2.2vh;
    text-align: center;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    padding: 3vw;

}
.nav-bar a:hover{
  background-color: #58ACFA;
  color: black;
  border-radius: 7px;
  height: 10vh;
}
.navbar a.active{
  background-color: #01DF74;
  color: black;
  border-radius: 7px;

}
@media only screen and (max-width: 900px) {

  .nav-bar ul{
    flex-direction: column;
  }

  .nav-bar li{
    margin: 0;
  }

  .nav-bar a{
    display: block;
  }
}
.content{
  padding: 50vh 2vw;
}
.column {
  float: left;
  width: 50%;
  padding: 2vw;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.about{
  padding-left: 50px;
  font-family: 'Corbel', sans-serif;
  font-weight: 400;
  font-size: 2vw;
}
.about h2{
  font-family: 'Corbel', sans-serif;
  font-weight: bold;
  font-size: 3vw;
  color: #A04000;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  padding: 2vw 5vh;
  font-family: 'Corbel', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
  color: #900C3F;
}
#calendaricon{
  align: center;
  padding-left: 30px;
  width: 40vw;
  height: 35vh;
}
.grid-container div{
    margin: 1vw 2vh;
}
.countdown{
  height: 35vh;
  width: 40vw;
  margin: 15vh 7vw;
  padding: 11vh;
  position: relative;
  background: #0f3854;
  background: radial-gradient(ellipse at center,  #0a2e38  30%, #000000 90%);
  background-size: 100%;
  font-weight: bold;
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  text-align: center;
  font-size: 3vh;
  float: right;
  transform: translate(-50%, -50%);
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    .time {
        letter-spacing: 0.05em;
    }
    .date {
        letter-spacing: 0.1em;
    }
    .text {
        letter-spacing: 0.1em;
    }
}
.countdown p {
    margin: 0;
    padding: 0;
}
.footer{
  width: 100vw;
  height: 40vh;
  background-position: center;
  background-size: cover;
  background-image: url(Images/footer.jpg);
  background-repeat: no-repeat;
}
.footer-column {
  float: left;
  width: 33%;
  padding: 1vw;
}
.footer-row:after {
  content: "";
  display: table;
  clear: both;
}
.organisedby p{
  align: left;
  font-size: 3vh;
}
#iiumlogo{
  float: left;
  height: 12vh;
  width: 7vw;
  font-size: 3vh;
}
.footer p{
  text-align: left;
  color: white;
  font-size: 3vh;
}
