h1{
  font-family: 'Corbel', sans-serif;
  size: 10vh;
  text-align: center;
}
body {
  font-style: normal;
  font-family: 'Corbel', sans-serif;
  font-weight: 300;
  margin-bottom: 200%;
}
.parallelsession_box {
  border-radius: 5px;
  padding: 2px;
  font: 1vw/2vw 'Corbel', sans-serif;
  width: 84vw;
  height: 100vh;
  overflow: scroll;
  margin: 0vw auto;
}
::-webkit-scrollbar {
width: 0.5vw;
height: 1.5vh;
}
::-webkit-scrollbar-track {
border: 0.03vw solid purple;
border-radius: 0.3vw;
}
::-webkit-scrollbar-thumb {
background: purple;
border-radius: 0.3vw;
}
::-webkit-scrollbar-thumb:hover {
background: #58ACFA;
}
table {
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin: 0px auto;
}
table .center {
    margin-left:auto;
    margin-right:auto;
  }
.column-styles {
  width: 65vw;
}
.column-styles .standard {
  background-color: #9A64C1;
  width: 13vw;
}
.column-styles .featured {
  background-color: white;
  font-size: 150%;
}
.column-styles td:first-child {
  font-size: 300%;
  color: white;
}
.topic-styles {
  background-color: #EED4FF;
}
td, th {
  border: 2px solid #9A64C1;
  border-radius: 5px;
  padding: 0.5vw;
}
th {
  background-color: white;
}
td {
  text-align: center;
}
