h1{
  font-family: 'Corbel', sans-serif;
  size: 10px;
  text-align: center;
}
body {
  font-style: normal;
  font-family: 'Corbel', sans-serif;
  font-weight: 300;
  margin-bottom: 200%;
}
.parallelsession_box {
  border-radius: 5px;
  padding: 2px;
  font: 24px/36px 'Corbel', sans-serif;
  width: 1300px;
  height: 600px;
  overflow: scroll;
  margin: 0px auto;
}
::-webkit-scrollbar {
width: 10px;
height: 12px;
}
::-webkit-scrollbar-track {
border: 0.5px solid purple;
border-radius: 5px;
}
::-webkit-scrollbar-thumb {
background: purple;
border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
background: #58ACFA;
}
table {
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin: 0px auto;
}
table .center {
    margin-left:auto;
    margin-right:auto;
  }
.column-styles {
  width: 1000px;
}
.column-styles .standard {
  background-color: #9A64C1;
  width: 200px;
}
.column-styles .featured {
  background-color: white;
  font-size: 150%;
}
.column-styles td:first-child {
  font-size: 300%;
  color: white;
}
.topic-styles {
  background-color: #EED4FF;
}
td, th {
  border: 2px solid #9A64C1;
  border-radius: 5px;
  padding: 10px;
}
th {
  background-color: white;
}
td {
  text-align: center;
}
