* {
  box-sizing: border-box;
  font-family: 'Corbel', sans-serif;
}
body{
  background-image: url(Images/background.jpeg);
  background-position: center center;
  background-repeat: repeat;
  min-height: initial;
  font-style: normal;
  font-weight: 300;
  margin: auto;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
header {
    height: 360px;
    z-index: 9;
    width: 100%
}
.header-banner {
    background-color: #333;
    background-image: url(Images/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}
header h1 {
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    color: #F1F8E0;
    padding: 0 1rem;
    margin-top: 0;
}
header p{
  text-align: center;
  font-family: 'Corbel', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #F1F8E0;
}
.homebtn{
  padding-top: 10px;
  padding-left: 5px;
  position:fixed;
  top: 0;
  z-index: 10;
}
.backtohome{
  background-color: #ace600;
  color: black;
  border-radius: 8px;
  font-weight: bold;
  padding: 5px 5px;
  text-decoration: none;
}
.backtohome:hover{
  background-color: #66ff66;
  color: black;
  font-weight: bolder;
}
fieldset{
  padding: 20px;
  margin: 50px;
}
form h1{
  margin-left: 20px;
  color: #943126 ;
}
.grid-container{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 5px;
  padding: 30px;
  font-family: 'Corbel', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #900C3F;
}
.grid-container div{
    margin: 10px;
}
form label{
  font-style: bold;
  font-size: 2.5vh;
  font-family: 'Cabin Condensed', sans-serif;
}
form p{
  font-style: normal;
  font-size: 2.5vh;
  color: black;
  font-family: 'Cabin Condensed', sans-serif;
}
form input{
  height: 4vh;
  padding-left: 5vw
}
.selectrate{
  border-radius: 5px;
  height: 4vh;
  font-size: 2.5vh;
}
#partnamelabel{
  font-size: 2.5vh;
}
#partdesignlabel{
  padding-left: 20vw;
  font-size: 2.5vh;
}
#partnameinput{
  padding-left: 10vw;
}
#partdesigninput{
  margin-left: 3vw;
  padding-left: 6vw;
}
#addbtn{
  border-radius: 100;
  height: 4vh;
  border-style: none;
  background-color: #005580;
  color: white;
  font-weight: bold;
  font-size: 3vh;
  cursor: pointer;
}
input[type=radio]{
  width: 1.5vw;
  height: 4vh;
}
input[type=radio]:checked{
  color: #d1b3ff;
}
#creditcard{
  width: 150px;
  height: 70px;
  margin-left: 2vw;
}
#debitacc{
  width: 150px;
  height: 70px;
  margin-left: 2vw;
}
#submitbtn{
  margin-top: 1px;
  margin-right: 20vw;;
  float: right;
  border-radius: 5px;
  border: 3px solid #1A5276 ;
  background-color: #1A5276 ;
  color: #A9CCE3;
  height: 7vh;
  width: 15vw;
  font-weight: bold;
  font-size: 3vh;
}
#submitbtn:hover{
  background-color:#154360 ;
  color: #A9CCE3 ;
}
#banklogos{
  width: 40vw;
  height: 20vh;
  margin-left: 20vw;
}
.footer{
  width: 100vw;
  height: 40vh;
  background-position: center;
  background-size: cover;
  background-image: url(Images/footer.jpg);
  background-repeat: no-repeat;
}
.footer-column {
  float: left;
  width: 33%;
  padding: 1vw;
}
.footer-row:after {
  content: "";
  display: table;
  clear: both;
}
.organisedby p{
  align: left;
  font-size: 3vh;
}
#iiumlogo{
  float: left;
  height: 12vh;
  width: 7vw;
  font-size: 3vh;
}
.footer p{
  text-align: left;
  color: white;
  font-size: 3vh;
}
.footer-banner {
    background-color: #333;
    background-image: url(Images/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-top: 70px;
}
#iiumlogo{
  width: 100px;
  height: 100px;
  float: left;
}
.organisedby{
  width: 65%;
  float:left;
  padding-left: 40%;
  font-size: 20px;
  color: white;
  font-weight: 500;
}
.address{
  width: 35%;
  float: left;
  font-size: 20px;
  color: white;
  font-weight: 500;
}
