.Speaker{
  height: 22vh;
  width: 9vw;
  border: 0.15vw solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wtv{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style:none;
  background-color: #ffffff;
  font-family: "family corbel", sans-serif;
  font-size: 2.3vh;
  opacity: 0.9;
  height: 49vh;
  width: 63vw;
  padding: 0.9vw;
  border-radius: 2vw;
}
.KnFb{
  position: relative;
  height:3.5vh;
  width: 1.4vw;
  left: 77vw;
}
.PnInsta{
  position: relative;
  height:3.5vh;
  width: 1.4vw;
  left: 75vw;
}
.PnFB{
  position: relative;
  height:3.5vh;
  width: 1.4vw;
  left: 74vw;
}
.Pn2Fb{
  position: relative;
  height:3.5vh;
  width: 1.4vw;
  left: 72vw;
}
.Pn2Insta{
  position: relative;
  height:3.5vh;
  width: 1.4vw;
  left: 73vw;
}
.Pn2Tw{
  position: relative;
  height:3.5vh;
  width: 1.4vw;
  left: 74vw;
}
.PN1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style:none;
  background-color: #ffffff;
  font-family: "family corbel", sans-serif;
  font-size: 2.3vh;
  opacity: 0.9;
  height: 24vh;
  width: 63vw;
  padding: 0.9vw;
  border-radius: 2vw;
}
.PN2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style:none;
  background-color: #ffffff;
  font-family: "family corbel", sans-serif;
  font-size: 2.3vh;
  opacity: 0.9;
  height: 8vw;
  width: 63vw;
  padding: 0.9vw;
  border-radius: 2.3vw;
}


