.content{
  padding: 50vh 2vw;
}
.column {
  float: none;
  width: 50%;
  padding: 2vw;
}
.submission{
  text-align: center;
  font-family: 'Corbel', sans-serif;
  font-weight: 400;
  font-size: 2vw;
}
.submission h2{
  font-family: 'Corbel', sans-serif;
  font-weight: bold;
  font-size: 3vw;
  color: #A04000;
}
